<%= (fill-header rc (string-append "Contact - " website-title) "<h2>Contact</h2>" style admin #:class "infopage") %>

    <center>
      For feedback, suggestions, bug reports, or help:<br>
      <br>
      <table border="2" valign="top">
        <tr><td class="stack">
            GitLab: <a href="https://gitlab.com/ison2/kotatsu">idk</a>
        </td></tr>
        <tr><td class="stack">
            Email: <img src="/pub/img/email.png">
        </td></tr>
      </table>
    </center>

<%= (fill-footer rc styles) %>
