@font-face {
    font-family: 'submona-web-font';
    src: url('/pub/fonts/submona-web-font/submona.woff') format('woff');
}
body {
    font-size: 13px;
    font-family: 'Liberation Sans', 'Arial';
    color: #800;
    padding: 0px;
    margin: 0px;
    background: #e2e2e2;
}
a:link {
    color: #00e;
}
a:visited {
    color: #cc1105;
}
i {
    color: #484;
    font-style: normal;
}
td {
    border: none;
}
th {
    border: 4px solid transparent;
    background: #ea8;
    padding: 5px;
}
ul {
    margin: 0px;
}
hr {
    margin: 0px;
    border: 2px solid #d9bfb7;
}
input, textarea {
    font-size: 13px;
    font-family: 'Liberation Sans', 'Arial';
    color: #000;
    background: #fff;
}
.site-name {
    color: #900;
    font-size: 32px;
    font-weight: bold;
}
.nav {
    background: #ffe;
    padding: 2px 10px 2px 2px;
}
.title {
    font-weight: bold;
    font-size: 24px;
}
.post blockquote {
    white-space: pre-wrap /* css-3 */;
    white-space: -moz-pre-wrap /* Mozilla, since 1999 */;
    white-space: -pre-wrap /* Opera 4-6 */;
    white-space: -o-pre-wrap /* Opera 7 */;
    word-wrap: break-word /* Internet Explorer 5.5+ */;
    margin-left: 10px;
}
.post-frame {
    border-collapse: collapse;
}
.style-picker {
    position: absolute;
    top: 4px;
    left: 4px;
}
.header {
    background: #fed6af;
    margin: 0px;
    padding: 5px;
}
.mid {
    background: #ffe;
    border-left: 5px solid transparent;
}
.mid.preview, .mid.infopage {
    border-left: 10px double #d9bfb7;
}
.mid.links {
    padding-left: 5px;
    border-left: 10px dashed #d9bfb7;
}
.news-box {
    margin: 5px auto;
    width: 500px;
    overflow: contain;
}
.note, .notice, .public, .news {
    border-bottom: 2px groove #d9bfb7;
}
.note h3, .notice h3, .public h3, .news h3 {
    margin: 0px;
    font-weight: normal;
}
.note .link {
    margin: 0px;
    color: #3b3;
}
.notice .link {
    margin: 0px;
    color: #3bb;
}
.public .link {
    margin: 0px;
    color: #bb3;
}
.news .link {
    margin: 0px;
    color: #b33;
}
.warning {
    color: #00c;
    font-weight: bold;
}
.thread {
    padding: 5px 0px 0px 0px;
}
.preview .thread {
    border-top: 2px groove #d9bfb7;
}
.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.catalog .thread {
    margin: 10px;
    width: 180px;
}
.catalog .thread .OPimg {
    float: none;
    max-width: 180px;
    max-height: 180px;
}
.catalog .thread .title {
    font-size: 14px;
}
.footer {
    padding: 5px;
}
.stack {
    max-width: 1000px;
    padding: 2px 10px 2px 2px;
    background: #ffe;
    border: 4px solid #d9bfb7;
}
.odd {
    background: #ede2d4;
}
.even {
    background: #ffffee;
    border: 1px solid #ea8;
}
.odd td, .even td {
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
}
.post {
    padding: 2px 10px 2px 2px;
    background: #f0e0d6;
    border: 3px double #d9bfb7;
    margin: 1px;
}
.postform {
    background: #ffe;
    background: #ffe;
}
.field {
    color: #800;
    text-align: right;
    font-weight: bold;
    background: #ea8;
}
.name {
    color: #174;
}
.capcode {
    color: #c00;
}
.date {
    color: #800;
}
.shade {
    color: #888;
    font-size: 11px;
}
.aa {
    font-family: 'MS PGothic', 'MS Pゴシック', 'Konatu', 'Mona', 'Monapo', 'Textar', 'submona-web-font';
    font-size: 16px;
}
.OPimg {
    margin: 0px 10px 10px 10px;
    float: left;
}
*:target {
    background: #f0c0b0;
}
